.page-saccess {
  text-align: center;
}

.heading--success {
  color: #59CC1B;
  margin-top: 55px;
  margin-bottom: 55px;
}

.button {
	line-height: 1;
	padding-top: 0px;
}

.error-hide {
  display: none;
}